body {
    background: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header, footer {
    background: #343a40;
    color: #fff;
    padding: 1rem;
  }
  
header div{
    text-align: center;
}

  a {
    color: #007bff;
    text-decoration: none;
}

.card {
    width: fit-content; /* csak akkora, amekkora a tartalom */
    max-width: 220px;    /* optional: ne legyen túl nagy */
    margin: 10px;        /* hogy legyen hely közöttük */
  }
  
  .card-img-top {
    width: 200px;
    height: auto;
    object-fit: contain;
  }