body {
    background: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header, footer {
    background: #343a40;
    color: #fff;
    padding: 1rem;
  }
  
header div{
    text-align: center;
}

  a {
    color: #007bff;
    text-decoration: none;
  }